
.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  color: #414141;
}
.css-color{
 color: #62bee6;
}
.css {
background-color: #62bee6;
color: #414141;
}
nav {
background-color: #414141;
 
}

.c-danger {

  filter: invert(12%) sepia(100%) saturate(6411%) hue-rotate(5deg) brightness(94%) contrast(121%);
  height: 15px;
}

.c-success {
  height: 15px;
  filter: invert(56%) sepia(65%) saturate(2010%) hue-rotate(79deg) brightness(121%) contrast(135%);
}

.css-sort {
  filter: invert(86%) sepia(47%) saturate(6042%) hue-rotate(170deg) brightness(93%) contrast(89%);
}

.css-rating-box{
  border-radius: 0 5px 5px 0;
}

.css-button{
  background-color: #62bee6;
  border: none;
  border-radius: 5px;
  height: 40px;
  color: #414141;
}
img:hover{
  transform: scale(1.1);
}
